<div class="card text-center mt-4">
  <div class="card-header">
   FOOTER
  </div>
  <div class="card-body">
    <p class="card-text">Email : skinny1102@gmail.com</p>
  </div>
  <div class="card-footer text-muted">
    Nguyễn Hữu Thắng
  </div>
</div>